<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--==============================================SHIPMENT SERVICE START===================================================================-->
    <add key="Shipment_USERNAME" value="reem@reem.com" />
    <add key="Shipment_PASSWORD" value="123456789" />
    <add key="Shipment_VERSION" value="v1" />
    <add key="Shipment_ACCOUNT_NUMBER" value="20016" />
    <add key="Shipment_ACCOUNT_PIN" value="331421" />
    <add key="Shipment_ACCOUNT_ENTITY" value="AMM" />
    <add key="Shipment_ACCOUNT_COUNTRY_CODE" value="JO" />
    <add key="Shipment_PREFERRED_LANGUAGE_CODE" value="EN" />
    <add key="Shipment_COMMENT" value="Hold the Shipment" />

    <!--Consignor Related Starts-->
    <add key="Consignee_Country" value="OM"/>
    <add key="Consignor_HouseNumber" value="3232"/>
    <add key="Consignor_City" value="Amman"/>
    <add key="Consignor_Country" value="OM"/>
    <add key="Consignor_PersonName" value="Test"/>
    <add key="Consignor_CompanyName" value="Ooredoo"/>
    <add key="Consignor_ChanrgeableWeightValue" value="0"/>
    <add key="Consignor_DescriptionOfGoods" value="TEST"/>
    <add key="Consignor_GoodsOriginCountry" value="OMAN"/>
    <add key="Consignor_NumberOFPieces" value="12"/>
    <add key="Consignor_ProductGroup" value="EXP"/>
    <add key="Consignor_ProductType" value="PDX"/>
    <add key="Consignor_TelephoneNumber" value="123123123"/>
    <add key="Consignor_ContactNumber" value="123123123"/>
    <add key="Consignor_Email" value="test3@test.com"/>
    <!--Consignor Related Ends-->

    <!--Third Party Related Starts-->
    <add key="ThirdParty_HouseNumber" value="3232"/>
    <add key="ThirdParty_City" value="Muscat"/>
    <add key="ThirdParty_CountryCode" value="OM"/>
    <add key="ThirdParty_FirstName" value="Test"/>
    <add key="ThirdParty_CompanyName" value="Ooredoo"/>
    <add key="ThirdParty_TelephoneNumber" value="123123123"/>
    <add key="ThirdParty_ContactNumber" value="123123123"/>
    <add key="ThirdParty_Email" value="test3@test.com"/>
    <!--Third Party Related Ends-->

    <add key="Shipment_Weight" value="0.01"/>
    <add key="Shipment_PaymentType" value="P"/>
    <add key="Shipment_ItemWeight" value="0.01"/>
    <add key="Shipment_GoodsDescription" value="TEST"/>
    <add key="Shipment_CountryOfOrigin" value="OMAN"/>
    <add key="Shipment_ReportID" value="9201"/>
    <add key="Shipment_ReportType" value="RPT"/>
    <!--==============================================SHIPMENT SERVICE END===================================================================-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Service_1_0">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.dev.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Service_1_0"
                contract="AramexShippingService.Service_1_0" name="BasicHttpBinding_Service_1_0" />
        </client>
    </system.serviceModel>
</configuration>